// Formulario.module.scss

.modal {
  max-width: 350px; // Reduzca el ancho máximo del modal
  display: flex; /* Añade display: flex para centrar verticalmente el contenido */
  flex-direction: column; /* Añade flex-direction: column para apilar los elementos */
  align-items: center; /* Centra verticalmente los elementos */
}

.modalheader {
  text-align: center; /* Centra horizontalmente el texto del título */
  margin-bottom: 16px; /* Añade un espacio inferior para separar el título de los campos del formulario */
}

.form {
  input,
  select {
    width: 100%; // Haz que los inputs y el select ocupen todo el ancho disponible
    padding: 6px; // Reduzca el espaciado interior
    margin-bottom: 8px; // Reduzca el espaciado entre los campos
    font-size: 12px; // Reduzca el tamaño de fuente
  }

  .ui.selection.dropdown {
    width: 100%; // Ajusta el ancho del select al 100%
    font-size: 12px; // Reduzca el tamaño de fuente del select
  }
}

/* Reduce el tamaño de los botones */
.ui.modal .actions .button {
  font-size: 12px; // Reduzca el tamaño de fuente de los botones
  padding: 6px 12px; // Reduzca el espaciado interior de los
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.button {
  flex: 1;
  margin: 0 30px; /* Ajusta el margen entre los botones si lo deseas */
  max-width: 150px;
}